<?xml version="1.0"?>
<ruleset name="json-parser">
    <description>The coding standard of json-parser package</description>
    <arg value="p" />

    <config name="ignore_warnings_on_exit" value="1" />
    <config name="ignore_errors_on_exit" value="1" />

    <arg name="colors" />
    <arg value="s" />

    <!-- Use the PSR12 Standard-->
    <rule ref="PSR12" />
</ruleset>